*{
	margin: 0;
	padding: 0;
}

li{
list-style:none;
}
ul{
	text-decoration: none;
}

a{
	text-decoration: none;
}

/*大主体*/
.zhubody{
	width:1090px;
	height:20px;
	margin:0 auto;
}


/*左边*/
.left{
	width:480px;
	height:100%;
	position: fixed;
	top:0px;
	left:0px;
}


/*左边qq图*/
.qqimg{
	width:200px;
	height:80px;
	position: absolute;
	top:0px;
	left:0px;
	z-index: 999;
}


/*左边qq图下的li下的i样式*/
.qqimg>i{
	width:60px;
	height:80px;
	float:left;
	padding-left: 30px;
	background: url('../imgs3/qq.png') no-repeat center;
}


.qqimg>h1{
	line-height: 80px;
	float:left;
}




/*轮播图开始了*/
#lun{
	width:480px;
	height:100%;

}


/*轮播图的ul*/
#lun>ul{
	width:480px;
	height:100%;
	position: relative;
}


/*轮播图的ul的li*/
#lun>ul>li{
	width:480px;
	height:100%;
	float: left;
	position: absolute;
	top:0px;
	left:0px;
	overflow: hidden;
}


/*li的背景图*/
#lun>ul>li:nth-child(1){
	background: url('../imgs3/1.jpg') no-repeat center;
}

#lun>ul>li:nth-child(2){
	background: url('../imgs3/2.jpg') no-repeat center;
}

#lun>ul>li:nth-child(3){
	background: url('../imgs3/3.jpg') no-repeat center;
}

/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*主体中要移除添加的样式*/

.body_left{
	float: left;
}
.qingchu{
	clear: both;
}

/*右边*/

.right{
	width: 840px;
	height:790px;
	margin-left:28%;
	overflow: hidden;
}

/*右边的上面*/
.right>.top{
	width:438px;
	 padding-top:20px;
	 height: 34px;
	 float: left;
	 margin-left: 405px;



}

.right>.top>ul>li{
	float: left;
	margin-right: 25px;
	position: relative;
}



.right>.top>ul>li>img{
	display: inline-block;
	margin-top: -14px;

}


.right>.top>ul>li>img.active{
	display: none;
}

.right>.top>ul>li>a{
	color: #656565;
	
	padding-left:5px;
	vertical-align: top;
	overflow: hidden;


}
.right>.top li>a{
	color: #656565;
}

.right>.top li:hover>a{
	color: #333;
}
.right>.top>ul>li:first-child>img{
	margin-top:-8px;
	margin-right: -12px;
	position: relative;
	z-index: 10;
}

.right>.top>ul>li:nth-child(1)>a{
	padding-right:10px;
	background: #FD5253;
	border-radius: 8px;
	color:#fff;
}

.right>.top>ul>li>ol>li{
	width: 100px;
	padding-top:16px;
	


}

.right>.top>ul>li>ol{
	display: none;
	position: absolute;
	background-color: #fff;
	left: 10px;

}

.right>.top>ul>li:hover>ol{

	display: block;
}
.right>.top>ul>li>.select{
	background-color: #fff;
	display: none;
	position: absolute;
	top: 25px;
	border: none;
	right: 0;

	box-shadow: 0 0 5px 1px #ccc;
	width: 290px;


}
.right>.top>ul>li:hover>.select{
	display: block;
}
.right>.top>ul>li>.select>input{
	width: 229px;
	height: 18px;
	padding:15px 10px;
	border: none;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	outline: none;
	font-size: 16px;


}
.right>.top>ul>li>.select>.sousu{
	text-align:center;
	line-height: 48px;
	color: #666;
	width: 40px;
	height: 48px;
	border-bottom: 1px solid #ccc;
}
.right>.top>ul>li>.select>.sousu:hover{
	color: #FFF;
	background: #FD5253;

}



.right>.top>ul>li>.select>.xingzuo{
	padding: 20px 0;

	line-height: 16PX;
	text-align: center;


	
}
.right>.top>ul>li>.select>.xingzuo>a{
	color: rgb(43, 114, 255);
	padding: 0 3px;

}



/*右边的下面*/
.right>.foot_foot{
	width: 100%;
	height:100px;
	margin-top: 40px;
	padding-bottom: 10px;/*
	background-color: blue;*/
}


.right>.foot_foot>.wrap{
	width: 438px;
	margin: 0 auto;
	/*background-color: red;*/
	height: 100%;



}


/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/


/*//右侧的底部*/
.right>.foot_foot>.wrap h1{

	line-height: 59px;
	margin-bottom: 20px;
	

}
.right>.foot_foot>.wrap .haoma{
	display: flex;
	justify-content: space-between;
	align-items: center;	
	margin-bottom: 30px;
	height: 18px;

	line-height: 30px;
}
.right>.foot_foot>.wrap .haoma>p{
	display: block;
	font-size: 28px;
	color:rgb(51,51,51);
}

.right>.foot_foot>.wrap .haoma>a{
	display: block;

	font-size: 24px;
	color:rgb(43, 114, 255);
}

/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/

/*注册*/
.right>.foot_foot>.wrap .dingwei{
	position: relative;
}

.right>.foot_foot>.wrap input{
	width: 438px;
	height: 52px;
	font-size: 18px;


	padding: 0  20px;
	outline: none;
	border-radius: 8px;
	margin-top: 24px;
	margin-bottom: 8px;
	border: 1px solid #ccc;

}
.right>.foot_foot>.wrap .dingweia>img{
	display: none;
	width: 20px;
	position: absolute;
	right: -30px;
	top: 40px; 
}
.right>.foot_foot>.wrap .dingweib img{
	display:none;
	width: 44px;
	height: 36px;
	top: 33px;
}

/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------*/

.right>.foot_foot>.wrap .dingweib>.tu{
	position: absolute;
	z-index: 100;
	right: -30px;
	top: 33px; 
	width: 44px;
	height: 36px;
	display: none;
}
.right>.foot_foot>.wrap .dingweib>.tu img.activeblock{
	display: block;

}
.right>.foot_foot>.wrap input:focus{

	  border-color: #549df8;
}
.right>.foot_foot>.wrap input.activecol{
	border-color:#ff5b5b;
}

/*----------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------*/

.right>.foot_foot>.wrap .wai>span{

	background: url('../imgs3/1.png') no-repeat;
    padding: 0 0 0 24px;
    color: #ff5b5b;
    font-size: 14px;
    line-height: 18px;
    height: 18px;
    overflow: hidden;
    display: block;
    height: 30px;
 
}
.right>.foot_foot>.wrap .pass>span{
	color: #333;
}
.right>.foot_foot>.wrap .pass>span{
	background: url('../imgs3/j1.png') no-repeat;
}
.right>.foot_foot>.wrap .pass>span:nth-child(1){
	background: url('../imgs3/dui.png') no-repeat;
}
.right>.foot_foot>.wrap .wai>span.dui{
	
	background: url('../imgs3/dui.png') no-repeat;
}
.right>.foot_foot>.wrap .wai>span.j1{
	
	background: url('../imgs3/j1.png') no-repeat;
}

.right>.foot_foot>.wrap .wai{
	display: none;
}





/*----------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------*/




.right>.foot_foot>.wrap .moddle{
	position: relative;
	width: 480px;

	margin-top: 20px;


}


.right>.foot_foot>.wrap .moddle>input{
	width: 110px;

	margin-top: 0;
	float: left;



}
.right>.foot_foot>.wrap .moddle>img{
	position:absolute;
	left:120px;
	top:23px;
	background-color: #fff;
	display: none;

}




.right>.foot_foot>.wrap .moddle>img.activeimg{
	display: block;
}
.right>.foot_foot>.wrap .moddle>.b{
	width: 265px;
	float: right; 
}


.right>.foot_foot>.wrap .moddle>ul.box{


	width: 480px;
	height: 202px;
	overflow-y: scroll;

	position: absolute;
	top:0;
	background-color: #fff;
	position:absolute;
	z-index: 10;
	left: 0;
	top: 51px;

	box-shadow: 0 0 1px 1px #ccc;
	border: 1px solid #ccc;
	padding-left: 0;
	margin: 0;
	display: none;
}

.right>.foot_foot>.wrap .moddle>ul>li{
	font-size: 20px;
	color: rgb(0,0,0);
	padding: 0 20px;
	line-height: 48px;
}
.right>.foot_foot>.wrap .moddle>ul>li:hover{
	background-color: #eee;
}
.right>.foot_foot>.wrap .note>.b{
	background: #3386FF;
	text-align:center;
	color: #fff;
}
/*//注册栏*/
.right>.foot_foot>.wrap input.sub{
	background: #3386FF;
	text-align:center;
	color: #fff;
	width: 480px;
	padding: 0 ;
	font-size: 22px;
	height: 50px;
}
/*//注册下面*/
.right>.foot_foot>.wrap .footer{
	font-size: 14px;
	padding-top: 16px;
	height: 114px;
}
.right>.foot_foot>.wrap .footer>.foot-top{
	position: relative;
}
.right>.foot_foot>.wrap .footer>.foot-top img{
	width: 18px;
	height: 18px;
	display: inline-block;
	display: none;


}
.right>.foot_foot>.wrap .footer>.foot-top img.activeFoot{
	display:inline-block;
}

.right>.foot_foot>.wrap .footer>.foot-top>a{
	overflow: hidden;
	vertical-align: top;
	color: #CCCCCC;
	display: inline-block;
	margin-bottom: 15px;

}
.right>.foot_foot>.wrap .footer>.foot-top>.foot-right{
	display: inline-block;
	text-align: center;

	width: 18px;

}
.right>.foot_foot>.wrap .footer>.foot-top>.foot-right img{
	width: 12px;
	height: 8px;
	margin-bottom: 4px;


}
.right>.foot_foot>.wrap .footer ul{
	position: absolute;


	display: none;
	top: 10px;


	padding: 0 20px;



}


.right>.foot_foot>.wrap .footer ul>li>a{
	color:#2b72ff;
	display:block;
}
.right>.foot_foot>.wrap .footer>a{
	padding: 30px 0;
	padding-top: 80px;
	width: 480px;
	text-align: center;
	color: #ccc;
	display: block;

}
